@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<div class="container" id="menu-container">
    <div class="results">
        <h1>Dino-Diner Menu</h1>
        @if (Model.ShowCombos)
        {
            <h2>Combos</h2>
            @for (int i = 0; i < Model.Combos.Count; i++)
            {
                <div class="menu-item">
                    <h4 style="margin: 0">@Model.Combos[i]</h4>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>@Model.Combos[i].Price</td>
                            <td>@Model.Combos[i].Calories</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            @{Model.Combos[i].Size = DinoDiner.Menu.Size.Medium;}
                            <td>@Model.Combos[i].Price</td>
                            <td>@Model.Combos[i].Calories</td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            @{Model.Combos[i].Size = DinoDiner.Menu.Size.Large;}
                            <td>@Model.Combos[i].Price</td>
                            <td>@Model.Combos[i].Calories</td>
                        </tr>
                    </table>
                    <p>
                        Ingredients
                        <ul>
                            @for (int j = 0; j < Model.Combos[i].Ingredients.Count; j++)
                            {
                                <li>
                                    @Model.Combos[i].Ingredients[j]
                                </li>
                            }
                        </ul>
                    </p>
                </div>
            }
        }
        @if (Model.ShowEntrees)
        {
            <h2>Entrees</h2>
            @for (int i = 0; i < Model.Entrees.Count; i++)
            {
                <div class="menu-item">
                    <p>
                        <h4 style="margin: 0">@Model.Entrees[i]</h4>
                        <br />Price - @Model.Entrees[i].Price.ToString("c")
                        <br />Calories - @Model.Entrees[i].Calories
                        <br />Ingredients
                        <ul>
                            @for (int j = 0; j < Model.Entrees[i].Ingredients.Count; j++)
                            {
                                <li>
                                    @Model.Entrees[i].Ingredients[j]
                                </li>
                            }
                        </ul>
                    </p>
                </div>
            }
        }
        @if (Model.ShowSides)
        {
            <h2>Sides</h2>
            @for (int i = 0; i < Model.Sides.Count; i++)
            {
                <div class="menu-item">
                    <h4 style="margin: 0">@Model.Sides[i].Description.Substring(6)</h4>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>@Model.Sides[i].Price</td>
                            <td>@Model.Sides[i].Calories</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            @{Model.Sides[i].Size = DinoDiner.Menu.Size.Medium;}
                            <td>@Model.Sides[i].Price</td>
                            <td>@Model.Sides[i].Calories</td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            @{Model.Sides[i].Size = DinoDiner.Menu.Size.Large;}
                            <td>@Model.Sides[i].Price</td>
                            <td>@Model.Sides[i].Calories</td>
                        </tr>
                    </table>
                    <p>
                        <br />Ingredients
                        <ul>
                            @for (int j = 0; j < Model.Sides[i].Ingredients.Count; j++)
                            {
                                <li>
                                    @Model.Sides[i].Ingredients[j]
                                </li>
                            }
                        </ul>
                    </p>
                </div>
            }
        }
        @if (Model.ShowDrinks)
        {
            <h2>Drinks</h2>
            @for (int i = 0; i < Model.Drinks.Count; i++)
            {
                <div class="menu-item">
                    <h4 style="margin: 0">@Model.Drinks[i].Description.Substring(6)</h4>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>@Model.Drinks[i].Price</td>
                            <td>@Model.Drinks[i].Calories</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            @{Model.Drinks[i].Size = DinoDiner.Menu.Size.Medium;}
                            <td>@Model.Drinks[i].Price</td>
                            <td>@Model.Drinks[i].Calories</td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            @{Model.Drinks[i].Size = DinoDiner.Menu.Size.Large;}
                            <td>@Model.Drinks[i].Price</td>
                            <td>@Model.Drinks[i].Calories</td>
                        </tr>
                    </table>
                    <p>
                        Ingredients
                        <ul>
                            @for (int j = 0; j < Model.Drinks[i].Ingredients.Count; j++)
                            {
                                <li>
                                    @Model.Drinks[i].Ingredients[j]
                                </li>
                            }
                        </ul>
</p>
                </div>
            }
        }
    </div>
    <form method="post">
        <h3>Search and Filter</h3>
        <input type="text" name="search" value="@Model.search" />
        <input type="submit" name="filter" id="filter" value="Search And Filter" />
        <h4>Menu Category</h4>
        <label>
            <input type="checkbox" value="Combos" name="category" checked="@Model.category.Contains("Combos")" />
            Combo
        </label>
        <label>
            <input type="checkbox" value="Entrees" name="category" checked="@Model.category.Contains("Entrees")" />
            Entree
        </label>
        <label>
            <input type="checkbox" value="Sides" name="category" checked="@Model.category.Contains("Sides")" />
            Side
        </label>
        <label>
            <input type="checkbox" value="Drinks" name="category" checked="@Model.category.Contains("Drinks")" />
            Drink
        </label>
        <h3>Price</h3>
        <label>
            Minimum Price:
            <input type="number" min="0" max="20" step="0.5" name="minimumPrice" id="minimum-price" value="@Model.minimumPrice" />
        </label>
        <label>
            Maximum Price:
            <input type="number" min="0" max="20" step="0.5" name="maximumPrice" id="maximum-price" value="@Model.maximumPrice" />
        </label>
        <h3>Exclude Ingredients</h3>
        @foreach (string ingredients in Model.menu.PossibleIngredients)
        {
            <label>
                <input type="checkbox" value="@ingredients" name="ingredients" checked="@Model.ingredients.Contains(ingredients.ToString())" />
                @ingredients
            </label>
        }
    </form>
</div>